/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px; 
}

form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  
} */